services:
  app:
    build: .
    container_name: node-ts-app
    ports:
      - "${PORT:-3000}:3000"
    env_file:
      - .env.development  # switch this file based on environment
    depends_on:
      - db
    # volumes:
    #   - .:/app
    #   - /app/node_modules
    volumes:
      - .:/app:cached
    command: npm run dev

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
